* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: "Roboto", sans-serif;
}
a {
	text-decoration: none;
	color: rgba(0, 0, 0, 0.54);
	font-size: 12px;
}
ul {
	list-style: none;
	margin: 0 auto;
}
li {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.fixed-menu-bar {
	width: 80px;
	text-align: center;
	position: fixed;
	background: #fff;
	height: 100vh;
	-webkit-box-shadow: 0 3px 7px 0 rgb(0 0 0 / 27%);
	box-shadow: 0 3px 7px 0 rgb(0 0 0 / 27%);
	z-index: 200;
	top: 0;
}
.menu-item {
	display: block;
	padding: 15px 0px;
	cursor: pointer;
	border-bottom: 1px solid rgb(51 47 47 / 8%);
	text-align: center;
	width: 80px;
}
.menu-item:hover {
	background: rgba(0, 0, 0, 0.04);
}
.menu-item:active {
	color: #2db84c;
}

.fixed-header {
	width: 100%;
	text-align: center;
	position: fixed;
	background: #fff;
	height: 68px;
	box-shadow: 0 3px 7px 0 rgb(0 0 0 / 27%);
	display: flex;
	z-index: 99;
	top: 0;
}
.header-container {
	margin-right: 104px;
	position: fixed;
	display: flex;
	justify-content: space-between;
	z-index: 200;
	margin-left: 8.3%;
	height: 68px;
	padding-left: 0;
	align-items: center;
	width: calc(100% - 124px);
}
.left-header-item {
	display: flex;
}
.nav-bar .amount {
	display: inline-block;
	font-size: 14px;
	line-height: 25px;
}

.right-header-item {
	display: flex;
	justify-content: flex-end;
}

.add-btn {
	margin-left: 24px;
}
.btn {
	cursor: pointer;
	height: auto;
	min-width: auto;
	font-size: 14px;
	line-height: 16px;
	border-radius: 4px;
	padding: 8px 12px;
	font-weight: 500;
}
.btn-green {
	background: #1aa333;
	color: #fff;
	height: auto;
	border: 1px solid #1aa333;
}

.btn-green-text {
	cursor: pointer;
	border: none;
	background: none;
	color: #1aa333;
	font-size: 14px;
	line-height: 16px;
	border-radius: 4px;
	padding: 0;
	margin: 0;
	font-weight: 500;
}
.btn-red-text {
	cursor: pointer;
	border: none;
	background: none;
	color: #f25a5a;
	font-size: 14px;
	line-height: 16px;
	border-radius: 4px;
	padding: 0;
	margin-left: 15px;
	font-weight: 500;
}
.master-container {
	margin-top: 96px;
	max-width: 1632px;
	min-width: 640px;
	padding-left: 0;
	width: calc(100% - 124px);
	margin-left: 104px;
}
.master-detail-container {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin: -16px;
	padding: 16px 16px 0;
	min-height: 85vh;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	display: flex;
}
.search {
	font-family: sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 20px;
	/* height: 100vh; */
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	margin-right: 10px;
}

.search input {
	padding: 7px 10px;
	font-size: 14px;
	line-height: 19px;
	font-family: "Roboto", sans-serif;
	border: 1px solid #ccc;
	border-radius: 4px;
}

/* changes */
.header-container {
	margin-right: 104px;
	position: fixed;
	display: flex;
	justify-content: space-between;
	z-index: 200;
	margin-left: 20px;
	height: 68px;
	padding-left: 0;
	align-items: center;
	width: calc(100% - 44px);
}
.logo-container {
	margin-right: 20px;
	padding: 0;
}
.logo-container a {
	font-size: 20px;
}
.logo-container span {
	color: #1aa333;
	font-weight: 700;
}
